#heading {
    color: green;
    background: lightblue;
    width: 900px;
    padding: 20px;
    height: 50px;
}

#subheading {
    color: red;
    background: lightyellow;
    width: 900px;
    padding: 20px;
    height: 50px;
}